@using PayrollApp.Areas.HRPayroll.Models.ViewModels
@model EmployeeEditModel


<div class="main-menu">
    <header class="header">
        <a href="@Url.Action("Index","Employee")" class="logo">Payroll</a>
        <button type="button" class="button-close fa fa-times js__menu_close"></button>
    </header>
    <div class="content">
        <div class="navigation">
            <ul class="menu js__accordion">
                <li class="current">
                    <a class="waves-effect" href="@Url.Action("Index","Employee")"><i class="menu-icon fas fa-users"></i><span>Employee</span></a>
                </li>
                <li>
                    <a class="waves-effect" href="@Url.Action("WorkPlaceIndex","Employee")"><i class="menu-icon fas fa-list"></i><span>Work Places</span></a>
                </li>
                <li>
                    <a class="waves-effect" href="@Url.Action("OldWorkIndex","Employee")"><i class="menu-icon fas fa-address-card"></i><span>Old Work Places</span></a>
                </li>
                <li>
                    <a class="waves-effect" href="@Url.Action("AbsentTable","Employee")"><i class="menu-icon fas fa-clipboard"></i><span>Absent table</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="fixed-navbar">
    <div class="pull-left">
        <button type="button" class="menu-mobile-button glyphicon glyphicon-menu-hamburger js__menu_mobile"></button>
        <h1 class="page-title">Edit Employee</h1>
    </div>
    <div class="pull-right">
        <div class="ico-item">
            <a href="#" class="ico-item fa fa-search js__toggle_open" data-target="#searchform-header"></a>
            <div id="searchform-header" class="searchform js__toggle employeeSearchForm"><input type="search" placeholder="Search..." class="input-search" id="employeeSearch"><button onclick="asd()" class="fa fa-search button-search" type="button"></button></div>
        </div>
        <div class="ico-item"><label>HR</label></div>
        <div class="ico-item"><a href="@Url.Action("Signout","Account")"><p style="font-size:smaller">Log Out  <i class="fas fa-sign-out-alt"></i></p></a></div>
    </div>
</div>
<div id="wrapper">
    <div class="main-content">
        <div class="container row">
            <form class="col-lg-6 col-xs-12" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly"></div>
                <input asp-for="Id" type="text" value="@Model.Id" style="visibility:hidden" />
                <input asp-for="@Model.PhotoPath" type="text" value="@Model.PhotoPath" style="visibility:hidden" />
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input class="form-control" asp-for="Name" type="text" value="@Model.Name" />
                    <span asp-validation-for="Name" class="text-danger" style="font-size:small"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Surname">Surname</label>
                    <input class="form-control" asp-for="Surname" type="text" value="@Model.Surname" />
                    <span asp-validation-for="Surname" class="text-danger" style="font-size:small"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Fathername">Fathername</label>
                    <input class="form-control" asp-for="Fathername" type="text" value="@Model.Fathername" />
                    <span asp-validation-for="Fathername" class="text-danger" style="font-size:small"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Birthday">Birthday</label>
                    <input class="form-control" asp-for="Birthday" type="date" value="@Model.Birthday" />
                    <span asp-validation-for="Birthday" class="text-danger" style="font-size:small"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address">Address</label>
                    <input class="form-control" asp-for="Address" type="text" value="@Model.Address" />
                    <span asp-validation-for="Address" class="text-danger" style="font-size:small"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RegisterAddress">RegisterAddress</label>
                    <input class="form-control" asp-for="RegisterAddress" type="text" value="@Model.RegisterAddress" />
                    <span asp-validation-for="RegisterAddress" class="text-danger" style="font-size:small"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PassportId">PassportId</label>
                    <input class="form-control" asp-for="PassportId" type="text" value="@Model.PassportId" />
                    <span asp-validation-for="PassportId" class="text-danger" style="font-size:small"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PassportExpDate">PassportExpDate</label>
                    <input type="date" class="form-control" asp-for="PassportExpDate" value="@Model.PassportExpDate" />
                    <span asp-validation-for="PassportExpDate" class="text-danger" style="font-size:small"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MaritalStatus">Marital Status</label>
                    <select asp-for="MaritalStatus" class="form-control">
                        <option>Married</option>
                        <option>Single</option>
                        <option>Divorced</option>
                        <option>Widowed</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Education">Education</label>
                    <input class="form-control" asp-for="Education" type="text" value="@Model.Education" />
                    <span asp-validation-for="Education" class="text-danger" style="font-size:small"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Gender">Gender</label>
                    <select asp-for="Gender" class="form-control">
                        <option>Man</option>
                        <option>Woman</option>
                    </select>
                </div>
                <div class="form-group">
                    <img width="100" height="150" src="~/Admin/uploads/@Model.PhotoPath" />
                </div>
                <div class="form-group">
                    <label asp-for="Photo"></label>
                    <div>
                        <input asp-for="Photo" class="form-control" value="" />
                    </div>
                    <span asp-validation-for="Photo" class="text-danger" style="font-size:small"></span>
                </div>
                <div class="form-group">
                    <button class="btn btn-info" type="submit">Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>










