@model PositionEditModel

<div class="main-menu">
    <header class="header">
        <a href="@Url.Action("UserIndex","Admin")" class="logo">Payroll</a>
        <button type="button" class="button-close fa fa-times js__menu_close"></button>
    </header>
    <div class="content">
        <div class="navigation">
            <ul class="menu js__accordion">
                <li>
                    <a class="waves-effect" href="@Url.Action("UserIndex","Admin")"><i class="menu-icon fas fa-users"></i><span>User</span></a>
                </li>
                <li>
                    <a class="waves-effect" href="@Url.Action("EmployeeIndex","Admin")"><i class="menu-icon far fa-user"></i><span>Employee</span></a>
                </li>
                <li>
                    <a class="waves-effect" href="@Url.Action("RoleIndex","Admin")"><i class="menu-icon fas fa-address-book"></i><span>Role</span></a>
                </li>
                <li>
                    <a class="waves-effect" href="@Url.Action("Department","Admin")"><i class="menu-icon fas fa-briefcase"></i></i><span>Department</span></a>
                </li>
                <li>
                    <a class="waves-effect" href="@Url.Action("CompanyIndex","Admin")"><i class="menu-icon fas fa-hotel"></i><span>Company</span></a>
                </li>
                <li>
                    <a class="waves-effect" href="@Url.Action("BranchIndex","Admin")"><i class="menu-icon fas fa-code-branch"></i><span>Branch</span></a>
                </li>
                <li class="current">
                    <a class="waves-effect" href="@Url.Action("PositionIndex","Admin")"><i class="menu-icon fas fa-user-edit"></i><span>Position</span></a>
                </li>
                <li>
                    <a class="waves-effect" href="@Url.Action("Holiday","Admin")"><i class="menu-icon fas fa-user-clock"></i><span>Holiday</span></a>
                </li>
                <li>
                    <a class="waves-effect" href="@Url.Action("StipulationIndex","Admin")"><i class="menu-icon fas fa-sort-amount-up-alt"></i><span>Stipulation</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="fixed-navbar">
    <div class="pull-left">
        <button type="button" class="menu-mobile-button glyphicon glyphicon-menu-hamburger js__menu_mobile"></button>
        <h1 class="page-title">Position Edit</h1>
    </div>
    <div class="pull-right">
        <div class="ico-item">
            <a href="#" class="ico-item fa fa-search js__toggle_open" data-target="#searchform-header"></a>
            <div id="searchform-header" class="searchform js__toggle userSearchForm"><input type="search" placeholder="Search..." class="input-search" id="userSearch"><button onclick="employeeSearcher()" class="fa fa-search button-search" type="button"></button></div>
        </div>
        <div class="ico-item"><label>Admin</label></div>
        <div class="ico-item"><a href="@Url.Action("Signout","Account")"><p style="font-size:smaller">Log Out  <i class="fas fa-sign-out-alt"></i></p></a></div>
    </div>
</div>
<div id="wrapper">
    <div class="main-content">
        <div class="row">
            <form class="col-lg-6 col-xs-12" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <span class="text-danger" asp-validation-for="@Model.CompanyId"></span>
                    <label>Company</label>
                    <select class="form-control" id="department" asp-for="@Model.CompanyId">
                        @foreach (var company in Model.Companies)
                        {
                            <option value="@company.Id">@company.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input asp-for="Name" class="form-control" type="text" />
                    <span asp-validation-for="Name" class="text-danger" style="font-size:small"></span>
                </div>
                <div class="form-group">
                    <label>Salary</label>
                    <input asp-for="Salary" class="form-control" type="number" />
                    <span asp-validation-for="Salary" class="text-danger" style="font-size:small"></span>
                </div>
                <input asp-for="Id" class="form-control" value="@Model.Id" type="text" style="visibility:hidden" />
                <div class="form-group">
                    <button class="btn btn-info" type="submit">Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>