@using PayrollApp.Areas.HRPayroll.Models.ViewModels
@model UserRegisterModel

<div class="main-menu">
    <header class="header">
        <a href="@Url.Action("UserIndex","Admin")" class="logo">Payroll</a>
        <button type="button" class="button-close fa fa-times js__menu_close"></button>
    </header>
    <div class="content">
        <div class="navigation">
            <ul class="menu js__accordion">
                <li class="current">
                    <a class="waves-effect" href="@Url.Action("UserIndex","Admin")"><i class="menu-icon fas fa-users"></i><span>User</span></a>
                </li>
                <li>
                    <a class="waves-effect" href="@Url.Action("EmployeeIndex","Admin")"><i class="menu-icon far fa-user"></i><span>Employee</span></a>
                </li>
                <li>
                    <a class="waves-effect" href="@Url.Action("RoleIndex","Admin")"><i class="menu-icon fas fa-address-book"></i><span>Role</span></a>
                </li>
                <li>
                    <a class="waves-effect" href="@Url.Action("Department","Admin")"><i class="menu-icon fas fa-briefcase"></i></i><span>Department</span></a>
                </li>
                <li>
                    <a class="waves-effect" href="@Url.Action("CompanyIndex","Admin")"><i class="menu-icon fas fa-hotel"></i><span>Company</span></a>
                </li>
                <li>
                    <a class="waves-effect" href="@Url.Action("BranchIndex","Admin")"><i class="menu-icon fas fa-code-branch"></i><span>Branch</span></a>
                </li>
                <li>
                    <a class="waves-effect" href="@Url.Action("PositionIndex","Admin")"><i class="menu-icon fas fa-user-edit"></i><span>Position</span></a>
                </li>
                <li>
                    <a class="waves-effect" href="@Url.Action("Holiday","Admin")"><i class="menu-icon fas fa-user-clock"></i><span>Holiday</span></a>
                </li>
                <li>
                    <a class="waves-effect" href="@Url.Action("StipulationIndex","Admin")"><i class="menu-icon fas fa-sort-amount-up-alt"></i><span>Stipulation</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="fixed-navbar">
    <div class="pull-left">
        <button type="button" class="menu-mobile-button glyphicon glyphicon-menu-hamburger js__menu_mobile"></button>
        <h1 class="page-title">Register User</h1>
    </div>
    <div class="pull-right">
        <div class="ico-item">
            <a href="#" class="ico-item fa fa-search js__toggle_open" data-target="#searchform-header"></a>
            <div id="searchform-header" class="searchform js__toggle userSearchForm"><input type="search" placeholder="Search..." class="input-search" id="userSearch"><button onclick="employeeSearcher()" class="fa fa-search button-search" type="button"></button></div>
        </div>
        <div class="ico-item"><label>Admin</label></div>
        <div class="ico-item"><a href="@Url.Action("Signout","Account")"><p style="font-size:smaller">Log Out  <i class="fas fa-sign-out-alt"></i></p></a></div>
    </div>
</div>
<div id="wrapper">
    <div class="main-content">
        <div class="container row">
            <form class="col-lg-6 col-xs-12" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input class="form-control" asp-for="Name" type="text" placeholder="Enter user's name" />
                    <span asp-validation-for="Name" class="text-danger" style="font-size:small"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Surname">Surname</label>
                    <input class="form-control" asp-for="Surname" type="text" placeholder="Enter user's surname" />
                    <span asp-validation-for="Surname" class="text-danger" style="font-size:small"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserName">UserName</label>
                    <input class="form-control" asp-for="UserName" type="text" placeholder="Enter username" />
                    <span asp-validation-for="UserName" class="text-danger" style="font-size:small"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password">Password</label>
                    <input class="form-control" type="password" asp-for="Password" placeholder="Enter user's password" />
                    <span asp-validation-for="Password" class="text-danger" style="font-size:small"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email">Email</label>
                    <input class="form-control" asp-for="Email" type="Email" placeholder="Enter user's email" />
                    <span asp-validation-for="Email" class="text-danger" style="font-size:small"></span>
                </div>
                <div class="form-group">
                    <span class="text-danger" asp-validation-for="@Model.DepartmentId"></span>
                    <label>Department</label>
                    <select class="form-control" id="department" asp-for="@Model.DepartmentId">
                        @foreach (var company in Model.Departments)
                        {
                            <option value="@company.Id">@company.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber">PhoneNumber</label>
                    <input class="form-control" pattern="[+]{1}[0-9]{3}-[0-9]{2}-[0-9]{3}-[0-9]{2}-[0-9]{2}" required type="tel" asp-for="PhoneNumber" placeholder="Enter user's phone number.(+994-xx-xxx-xx-xx)" />
                    <span asp-validation-for="PhoneNumber" class="text-danger" style="font-size:small"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Photo"></label>
                    <div>
                        <input asp-for="Photo" class="form-control" />
                    </div>
                    <span asp-validation-for="Photo" class="text-danger" style="font-size:small"></span>
                </div>
                <div class="form-group">
                    <button class="btn btn-info" type="submit">Sign up</button>
                </div>
            </form>
        </div>
    </div>
</div>